<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css"
          th:href="@{/css/bootstrap-theme.min.css}"/>
</head>
<body>
	<header>
		<h1>Twitter的なやつ</h1>
	</header>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<table class="table">
						<tbody>
						</tbody>
				</table>
    			<form action="doTweet" method="post">
    				<input type="text" name="tweet" size="40"/>
    				<input type="submit" value="つぶやく"/>
			    </form>
	    </div>
    	<div class="col-md-9">
	    <table class="table table-striped">
			<thead>
				<tr>
					<th>アカウント名</th>
					<th>投稿内容</th>
				</tr>
			</thead>
			<tbody th:remove="all-but-first">
				<tr th:each="timeLine : ${timelineList}" >
					<td th:text="${timeLine.user.screenName}"></td>
					<td th:text="${timeLine.text}"></td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
</div>
</body>
</html>