<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css"
          th:href="@{/css/bootstrap-theme.min.css}"/>
</head>
<body>
	<h1>hello,world</h1>
	<p th:text="'こんにちは ' + ${name} + 'さん!'" />
    <form action="sample" method="post">
    	<input type="text" name="name" size="40"/>
    	<input type="submit" value="送信"/>
    </form>
</body>
</html>
